In [ ]:
import 서울시_지하철_승하차_현황_API as sw_pa
import 서울시유무임승차현황 as sw_py_fr
import pandas as pd
from datetime import datetime, timedelta

In [ ]:
def Data_input_all():
    ### 전체 데이터 가져오기
    sDt="20150101"
    eDt=datetime.today().strftime('%Y%m%d')
    ### 지하철 승하차인원 데이터 조회 및 저장
    df0=sw_pa.main_api(sDt, eDt)
    df0.to_csv('c:/pydata/seoul_sw_inout.csv', index=False)
    ### 지하철 유/무임승하차인원 데이터 조회 및 저장
    df1=sw_py_fr.main_api(sDt[:-2], eDt[:-2])
    df1.to_csv('c:/pydata/seoul_sw_payfree.csv', index=False)
    print("=====API 데이터 가져오기 성공=====")

In [ ]:
# Data_input_all()

## 서울시 지하철 탑승현황
- seoul_sw_inout.csv / seoul_sw_payfree.csv 이용
- 각 파일에서 추가되지 않은 데이터를 API를 이용해 가져와 추가하기
- 승하차 데이터 / 유임/무임 승하차 데이터를 이용해 년도별/월별/데이터 생성
- 역 입력시 해당 역의 승하차, 유/무임 데이터 확인 및 시각화
- 유임/무임 승하차가 가장 많은 역 확인

### 데이터 읽어오기 및 데이터 추가
- 두 데이터 가져오기

In [ ]:
df0=pd.read_csv('c:/pydata/seoul_sw_inout.csv')
df1=pd.read_csv('c:/pydata/seoul_sw_payfree.csv')

- 오늘 날짜를 기준으로 없는 데이터 추가하기
 1. 읽어온 데이터의 마지막 데이터 날짜/년월을 가져온다.
 2. 마지막 날짜가 오늘날짜/오늘년월 일치/불일치 확인(일치=종료, 불일치=API로 부터 가져오기)
 3. 가져온 데이터 추가 후 pydata 업데이트

- 일자별 승하차 데이터 추가

In [ ]:
if str(df0.iloc[-1,0])!=datetime.today().strftime('%Y%m%d'):
    sDt=datetime.strptime(str(df0.iloc[-1,0]),'%Y%m%d')+timedelta(1)
    sDt=sDt.strftime('%Y%m%d')
    eDt=datetime.today().strftime('%Y%m%d')

    df=sw_pa.main_api(sDt, eDt)
    
    df0=pd.concat([df0, df], ignore_index=True)
    df0.to_csv('c:/pydata/seoul_sw_inout.csv', index=False)

- 년월별 유임/무임 승하차 데이터 업데이트

In [ ]:
sDt=datetime.strptime(str(df1.iloc[-1,0])+"27",'%Y%m%d')+timedelta(5)
if sDt.strftime('%Y%m')!=datetime.today().strftime('%Y%m'):
    sDt=sDt.strftime('%Y%m')
    eDt=datetime.today().strftime('%Y%m')
    df=sw_py_fr.main_api(sDt, eDt)
    df1=pd.concat([df0, df], ignore_index=True)
    df1.to_csv('c:/pydata/seoul_sw_payfree.csv', index=False)

print("유/무임 데이터 업데이트 완료")

In [ ]:
print(df0.info())
print(df1.info())

- 승하차 데이터/ 유임/무임 승하차 데이터를 이용해 년도별/월별 데이터 생성

In [ ]:
df0=df0.astype({'사용일':'str'})
print(df0.info())
df1=df1.rename(columns={'사용일':'사용년월'})
df1=df1.astype({'사용년월':'str'})
print(df1.info())

In [ ]:
df0['사용년월']=df0['사용일'].str[:6] #필드 추가
df2=df0.groupby(['사용년월','라인','역명']).sum() # 구글 합계 df2 저장
df2=df2.reset_index() #df2 index 재 설정후 df2 업데이트
df1.head()

In [150]:
for i in df1.index:
    print(df2[(df2['사용년월']==df1.loc[i][0])&(df2['라인']==df1.loc[i][1])&(df2['역명']==df1.loc[i][2])])

       사용년월   라인   역명      승차      하차
105  201501  4호선  삼각지  175501  220537
       사용년월   라인   역명      승차      하차
111  201501  4호선  신용산  408120  435175
       사용년월   라인  역명      승차      하차
113  201501  4호선  이촌  307143  337390
       사용년월   라인  역명     승차     하차
100  201501  4호선  동작  66583  68255
       사용년월   라인     역명      승차      하차
115  201501  4호선  총신대입구  705946  783199
       사용년월   라인  역명       승차      하차
104  201501  4호선  사당  1014983  820043
      사용년월   라인   역명     승차     하차
95  201501  4호선  남태령  32936  27184
       사용년월   라인  역명      승차      하차
144  201501  5호선  방화  228133  217578
       사용년월   라인   역명      승차      하차
122  201501  5호선  개화산  182882  167157
       사용년월   라인    역명      승차      하차
131  201501  5호선  김포공항  255026  227276
       사용년월   라인  역명      승차      하차
147  201501  5호선  송정  322701  317092
       사용년월   라인  역명     승차     하차
136  201501  5호선  마곡  92548  77249
       사용년월   라인  역명      승차      하차
142  201501  5호선  발산  323376  324484
       사용년월   라인   역명      승차      하차
162  201501  5호선  우장산  477225  465320
       사용년월   라인  역명      승차      하차
170  201501  5호선  화곡  886058  814520
       사용년월   라인   역명      승차      하차
132  201501  5호선  까치산  920128  874533
       사용년월   라인  역명      승차      하차
150  201501  5호선  신정  435569  352639
       사용년월   라인  역명      승차      하차
141  201501  5호선  목동  591135  617511
       사용년월   라인   역명      승차      하차
159  201501  5호선  오목교  811847  859535
       사용년월   라인  역명      승차      하차
153  201501  5호선  양평  188280  191526
       사용년월   라인     역명      승차      하차
156  201501  5호선  영등포구청  101797  103308
       사용년월   라인     역명      승차      하차
157  201501  5호선  영등포시장  246721  266709
       사용년월   라인  역명     승차      하차
149  201501  5호선  신길  88478  101243
       사용년월   라인   역명      승차      하차
155  201501  5호선  여의도  675633  734073
       사용년월   라인    역명      승차      하차
154  201501  5호선  여의나루  214097  230306
       사용년월   라인  역명      승차      하차
139  201501  5호선  마포  432874  455903
       사용년월   라인  역명      승차      하차
125  201501  5호선  공덕  401193  422888
       사용년월   라인   역명      승차      하차
152  201501  5호선  애오개  184050  188538
       사용년월   라인   역명      승차      하차
168  201501  5호선  충정로  138369  143246
       사용년월   라인   역명      승차      하차
146  201501  5호선  서대문  491235  506188
       사용년월   라인   역명       승차       하차
127  201501  5호선  광화문  1096431  1141108
       사용년월   라인    역명      승차      하차
165  201501  5호선  종로3가  447032  447534
       사용년월   라인     역명      승차      하차
163  201501  5호선  을지로4가  156896  167495
       사용년월   라인         역명      승차      하차
134  201501  5호선  동대문역사문화공원  100391  119228
       사용년월   라인  역명      승차      하차
167  201501  5호선  청구  151678  137806
       사용년월   라인   역명      승차      하차
148  201501  5호선  신금호  158903  161333
       사용년월   라인  역명      승차      하차
169  201501  5호선  행당  259169  227018
Empty DataFrame
Columns: [사용년월, 라인, 역명, 승차, 하차]
Index: []
       사용년월   라인  역명      승차      하차
137  201501  5호선  마장  190622  184235
       사용년월   라인   역명      승차      하차
133  201501  5호선  답십리  514975  474728
       사용년월   라인   역명      승차      하차
164  201501  5호선  장한평  561690  564744
       사용년월   라인  역명      승차      하차
128  201501  5호선  군자  329901  366106
       사용년월   라인   역명      승차      하차
151  201501  5호선  아차산  445736  422384
       사용년월   라인   역명      승차      하차
126  201501  5호선  광나루  456887  408300
       사용년월   라인  역명      승차      하차
166  201501  5호선  천호  700270  745729
       사용년월   라인  역명      승차      하차
120  201501  5호선  강동  601913  505152
       사용년월   라인  역명      승차      하차
130  201501  5호선  길동  236387  251098
       사용년월   라인    역명      승차      하차
129  201501  5호선  굽은다리  303913  286214
       사용년월   라인  역명      승차      하차
140  201501  5호선  명일  294703  292738
       사용년월   라인  역명      승차      하차
124  201501  5호선  고덕  259047  257994
       사용년월   라인   역명      승차      하차
145  201501  5호선  상일동  383720  321322
       사용년월   라인   역명      승차      하차
135  201501  5호선  둔촌동  408411  412048
       사용년월   라인     역명      승차      하차
160  201501  5호선  올림픽공원  182529  175959
       사용년월   라인  역명      승차      하차
143  201501  5호선  방이  220113  222921
       사용년월   라인  역명      승차      하차
158  201501  5호선  오금  117663  118372
       사용년월   라인  역명      승차      하차
121  201501  5호선  개롱  213773  212496
       사용년월   라인  역명      승차      하차
123  201501  5호선  거여  224893  209247
       사용년월   라인  역명      승차      하차
138  201501  5호선  마천  186681  190828
       사용년월   라인  역명      승차      하차
199  201501  6호선  응암  524032  508662
       사용년월   라인  역명      승차      하차
195  201501  6호선  역촌  112586  128420
       사용년월   라인  역명      승차      하차
186  201501  6호선  불광  175356  162883
       사용년월   라인   역명     승차     하차
177  201501  6호선  독바위  86467  94793
       사용년월   라인   역명  승차  하차
196  201501  6호선  연신내  16   0
       사용년월   라인  역명      승차      하차
174  201501  6호선  구산  231632  177869
       사용년월   라인  역명      승차      하차
190  201501  6호선  새절  390323  370209
       사용년월   라인  역명      승차      하차
201  201501  6호선  증산  321367  301702
       사용년월   라인        역명      승차      하차
180  201501  6호선  디지털미디어시티  456902  498315
       사용년월   라인      역명      승차      하차
198  201501  6호선  월드컵경기장  191012  200024
       사용년월   라인    역명      승차      하차
181  201501  6호선  마포구청  413096  362046
       사용년월   라인  역명      승차      하차
182  201501  6호선  망원  362301  386838
       사용년월   라인  역명      승차      하차
206  201501  6호선  합정  321353  359171
       사용년월   라인  역명      승차      하차
188  201501  6호선  상수  304591  348953
       사용년월   라인   역명      승차      하차
173  201501  6호선  광흥창  282551  273842
       사용년월   라인  역명      승차      하차
176  201501  6호선  대흥  248786  261980
       사용년월   라인  역명      승차      하차
172  201501  6호선  공덕  526143  517575
       사용년월   라인     역명      승차      하차
208  201501  6호선  효창공원앞  238040  228589
       사용년월   라인   역명      승차      하차
187  201501  6호선  삼각지  236385  183736
       사용년월   라인         역명      승차      하차
175  201501  6호선  녹사평(용산구청)  209836  231526
       사용년월   라인   역명      승차      하차
200  201501  6호선  이태원  489706  542933
       사용년월   라인   역명      승차      하차
205  201501  6호선  한강진  179701  212489
       사용년월   라인    역명     승차     하차
183  201501  6호선  버티고개  74554  73122
       사용년월   라인  역명      승차      하차
194  201501  6호선  약수  110044  109839
       사용년월   라인  역명     승차     하차
203  201501  6호선  청구  79062  93470
       사용년월   라인  역명      승차      하차
192  201501  6호선  신당  252344  253504
       사용년월   라인   역명      승차      하차
179  201501  6호선  동묘앞  280173  277578
       사용년월   라인  역명     승차     하차
202  201501  6호선  창신  93538  75423
       사용년월   라인  역명      승차      하차
184  201501  6호선  보문  249408  221254
       사용년월   라인  역명      승차      하차
193  201501  6호선  안암  360964  367586
       사용년월   라인   역명      승차      하차
171  201501  6호선  고려대  276516  266994
       사용년월   라인  역명      승차      하차
197  201501  6호선  월곡  366553  350370
       사용년월   라인   역명      승차      하차
189  201501  6호선  상월곡  190512  171070
       사용년월   라인   역명      승차      하차
178  201501  6호선  돌곶이  288185  263847
       사용년월   라인  역명      승차      하차
191  201501  6호선  석계  406447  406561
       사용년월   라인    역명      승차      하차
204  201501  6호선  태릉입구  155819  171661
       사용년월   라인   역명      승차      하차
207  201501  6호선  화랑대  374051  286179
       사용년월   라인          역명      승차      하차
185  201501  6호선  봉화산(서울의료원)  292078  274554
       사용년월   라인  역명     승차     하차
249  201501  7호선  장암  72524  25589
       사용년월   라인   역명      승차      하차
224  201501  7호선  도봉산  350230  326499
       사용년월   라인   역명      승차      하차
239  201501  7호선  수락산  449934  433069
       사용년월   라인  역명      승차      하차
226  201501  7호선  마들  376520  344175
       사용년월   라인  역명      승차      하차
221  201501  7호선  노원  689155  738409
       사용년월   라인  역명      승차      하차
250  201501  7호선  중계  480130  434004
       사용년월   라인  역명      승차      하차
258  201501  7호선  하계  629938  591398
       사용년월   라인  역명      승차      하차
213  201501  7호선  공릉  374921  372228
       사용년월   라인    역명      승차      하차
257  201501  7호선  태릉입구  249522  229737
       사용년월   라인  역명      승차      하차
227  201501  7호선  먹골  325141  313191
       사용년월   라인  역명      승차      하차
252  201501  7호선  중화  368818  349864
       사용년월   라인  역명      승차      하차
238  201501  7호선  상봉  552102  514364
       사용년월   라인  역명      승차      하차
228  201501  7호선  면목  459753  440114

       사용년월   라인   역명      승차      하차
234  201501  7호선  사가정  514310  497512
       사용년월   라인   역명      승차      하차
246  201501  7호선  용마산  190879  179941
       사용년월   라인  역명      승차      하차
251  201501  7호선  중곡  311985  287921
       사용년월   라인  역명      승차      하차
215  201501  7호선  군자  460323  347638
       사용년월   라인      역명      승차      하차
244  201501  7호선  어린이대공원  418429  410742
       사용년월   라인    역명      승차      하차
211  201501  7호선  건대입구  551820  580401
       사용년월   라인     역명      승차      하차
225  201501  7호선  뚝섬유원지  244315  233831
       사용년월   라인  역명      승차      하차
255  201501  7호선  청담  727656  823501
       사용년월   라인    역명      승차      하차
210  201501  7호선  강남구청  554063  599188
       사용년월   라인  역명      승차      하차
259  201501  7호선  학동  742550  813745
       사용년월   라인  역명      승차      하차
222  201501  7호선  논현  633851  699799
       사용년월   라인  역명      승차      하차
229  201501  7호선  반포  196919  185920
       사용년월   라인     역명      승차      하차
212  201501  7호선  고속터미널  677123  585941
       사용년월   라인  역명      승차      하차
220  201501  7호선  내방  434379  449159
       사용년월   라인  역명      승차      하차
247  201501  7호선  이수  539840  531809
       사용년월   라인  역명      승차      하차
219  201501  7호선  남성  353419  327498
       사용년월   라인     역명      승차      하차
240  201501  7호선  숭실대입구  432402  420713
       사용년월   라인  역명      승차      하차
236  201501  7호선  상도  337496  317909
       사용년월   라인    역명      승차      하차
248  201501  7호선  장승배기  334105  322734
       사용년월   라인      역명      승차      하차
241  201501  7호선  신대방삼거리  485666  462876
       사용년월   라인   역명      승차      하차
230  201501  7호선  보라매  293054  292065
       사용년월   라인  역명      승차      하차
243  201501  7호선  신풍  367918  350018
       사용년월   라인  역명      승차      하차
223  201501  7호선  대림  352266  349354
       사용년월   라인   역명      승차      하차
218  201501  7호선  남구로  515938  537729
       사용년월   라인       역명       승차       하차
209  201501  7호선  가산디지털단지  1277493  1286646
       사용년월   라인  역명      승차      하차
254  201501  7호선  철산  774515  775459
       사용년월   라인     역명      승차      하차
214  201501  7호선  광명사거리  856726  823689
       사용년월   라인  역명      승차      하차
253  201501  7호선  천왕  238946  216375
       사용년월   라인  역명      승차      하차
245  201501  7호선  온수  314924  293539
       사용년월   라인   역명      승차      하차
217  201501  7호선  까치울  155932  139437
       사용년월   라인       역명      승차      하차
232  201501  7호선  부천종합운동장  154124  141471
       사용년월   라인  역명      승차      하차
256  201501  7호선  춘의  221251  215164
       사용년월   라인   역명      승차      하차
242  201501  7호선  신중동  419477  416980
       사용년월   라인    역명      승차      하차
231  201501  7호선  부천시청  364912  370552
       사용년월   라인  역명      승차      하차
237  201501  7호선  상동  418995  426274
       사용년월   라인     역명      승차      하차
235  201501  7호선  삼산체육관  161479  147498
       사용년월   라인   역명      승차      하차
216  201501  7호선  굴포천  251797  259191
       사용년월   라인    역명      승차      하차
233  201501  7호선  부평구청  344570  259591
       사용년월   라인  역명      승차      하차
273  201501  8호선  암사  540583  481213
       사용년월   라인  역명      승차      하차
276  201501  8호선  천호  622031  673322
       사용년월   라인    역명      승차      하차
261  201501  8호선  강동구청  329188  338787
       사용년월   라인    역명      승차      하차
265  201501  8호선  몽촌토성  199463  212388
       사용년월   라인  역명      승차      하차
274  201501  8호선  잠실  325421  375076
       사용년월   라인  역명      승차      하차
269  201501  8호선  석촌  290726  305546
       사용년월   라인  역명      승차      하차
270  201501  8호선  송파  161319  163026
       사용년월   라인    역명      승차      하차
260  201501  8호선  가락시장  202731  234662
       사용년월   라인  역명      승차      하차
266  201501  8호선  문정  168245  161636
       사용년월   라인  역명      승차      하차
275  201501  8호선  장지  385076  370788
       사용년월   라인  역명      승차      하차
267  201501  8호선  복정  214915  158568
       사용년월   라인  역명      승차      하차
268  201501  8호선  산성  220269  213751
       사용년월   라인      역명      승차      하차
262  201501  8호선  남한산성입구  425425  378435
       사용년월   라인     역명      승차      하차
263  201501  8호선  단대오거리  381399  358628
       사용년월   라인  역명      승차      하차
272  201501  8호선  신흥  169629  174594
       사용년월   라인  역명      승차      하차
271  201501  8호선  수진  160053  147955
       사용년월   라인  역명      승차      하차
264  201501  8호선  모란  142716  105579
       사용년월   라인  역명      승차      하차
278  201501  9호선  개화  176776  109612
       사용년월   라인    역명      승차      하차
283  201501  9호선  김포공항  270059  311924
       사용년월   라인    역명     승차      하차
280  201501  9호선  공항시장  97267  109584
       사용년월   라인   역명      승차      하차
296  201501  9호선  신방화  216146  206563
       사용년월   라인    역명     승차     하차
289  201501  9호선  마곡나루  58866  54887
       사용년월   라인    역명      승차      하차
297  201501  9호선  양천향교  209696  205794
       사용년월   라인  역명      승차      하차
277  201501  9호선  가양  593136  559142
       사용년월   라인  역명      승차      하차
300  201501  9호선  증미  238163  249922
       사용년월   라인  역명      승차      하차
288  201501  9호선  등촌  347444  353091
       사용년월   라인  역명      승차      하차
299  201501  9호선  염창  430414  403942
       사용년월   라인   역명      승차      하차
294  201501  9호선  신목동  123633  107221
       사용년월   라인   역명      승차      하차
292  201501  9호선  선유도  201744  198357
       사용년월   라인  역명      승차      하차
286  201501  9호선  당산  486607  443860
       사용년월   라인     역명      승차      하차
282  201501  9호선  국회의사당  454497  461980
       사용년월   라인   역명      승차      하차
298  201501  9호선  여의도  514020  510760
       사용년월   라인  역명      승차      하차
291  201501  9호선  샛강  177206  187300
       사용년월   라인   역명      승차       하차
285  201501  9호선  노량진  951159  1004202
       사용년월   라인  역명      승차      하차
284  201501  9호선  노들  151391  128848
       사용년월   라인         역명      승차      하차
301  201501  9호선  흑석(중앙대입구)  313044  323000
       사용년월   라인  역명     승차     하차
287  201501  9호선  동작  52263  36704
       사용년월   라인   역명      승차      하차
281  201501  9호선  구반포  104506  112573
       사용년월   라인   역명     승차     하차
295  201501  9호선  신반포  91297  93587
       사용년월   라인     역명      승차      하차
279  201501  9호선  고속터미널  437321  480392
       사용년월   라인  역명     승차     하차
290  201501  9호선  사평  86589  82624
       사용년월   라인   역명      승차      하차
293  201501  9호선  신논현  980521  958156
     사용년월   라인   역명       승차       하차
2  201501  1호선  서울역  2160616  1916768
     사용년월   라인  역명      승차      하차
3  201501  1호선  시청  748569  742981
     사용년월   라인  역명       승차       하차
6  201501  1호선  종각  1552646  1479096
     사용년월   라인    역명       승차       하차
7  201501  1호선  종로3가  1242061  1181434
     사용년월   라인    역명      승차      하차
8  201501  1호선  종로5가  876407  874492
     사용년월   라인   역명      승차      하차
0  201501  1호선  동대문  483789  542499
     사용년월   라인   역명      승차      하차
4  201501  1호선  신설동  512694  495320
     사용년월   라인   역명      승차      하차
5  201501  1호선  제기동  624857  642319
     사용년월   라인       역명      승차      하차
9  201501  1호선  청량리(지하)  933290  951923
     사용년월   라인   역명      승차      하차
1  201501  1호선  동묘앞  285550  300658
      사용년월   라인  역명      승차      하차
32  201501  2호선  시청  773567  753993
      사용년월   라인     역명       승차       하차
51  201501  2호선  을지로입구  1621261  1614415
      사용년월   라인     역명      승차      하차
49  201501  2호선  을지로3가  601744  594223
      사용년월   라인     역명      승차      하차
50  201501  2호선  을지로4가  398827  403982
      사용년월   라인         역명      승차      하차
20  201501  2호선  동대문역사문화공원  540970  612038
      사용년월   라인  역명      승차      하차
34  201501  2호선  신당  454646  482919
      사용년월   라인    역명      승차      하차
27  201501  2호선  상왕십리  310032  297816
Empty DataFrame
Columns: [사용년월, 라인, 역명, 승차, 하차]
Index: []
      사용년월   라인   역명      승차      하차
57  201501  2호선  한양대  260518  288529
      사용년월   라인  역명      승차      하차
21  201501  2호선  뚝섬  456503  479098
      사용년월   라인  역명      승차      하차
31  201501  2호선  성수  749955  816593
      사용년월   라인    역명       승차       하차
12  201501  2호선  건대입구  1389797  1528770
      사용년월   라인  역명      승차      하차
15  201501  2호선  구의  741666  730192
      사용년월   라인  역명       승차       하차
11  201501  2호선  강변  1586687  1574352
      사용년월   라인    역명      승차      하차
54  201501  2호선  잠실나루  561253  537108
      사용년월   라인  역명       승차       하차
53  201501  2호선  잠실  2502268  2261237
      사용년월   라인  역명      승차      하차
40  201501  2호선  신천  845778  828970
      사용년월   라인     역명      승차      하차
55  201501  2호선  종합운동장  391130  407204
      사용년월   라인  역명       승차       하차
26  201501  2호선  삼성  1972430  2006218
      사용년월   라인  역명       승차       하차
30  201501  2호선  선릉  1779430  1551618
      사용년월   라인  역명       승차       하차
44  201501  2호선  역삼  1491132  1630624
      사용년월   라인  역명       승차       하차
10  201501  2호선  강남  3530237  3601818
      사용년월   라인  역명       승차       하차
13  201501  2호선  교대  1219420  1348730

      사용년월   라인  역명      승차      하차
29  201501  2호선  서초  690565  705721
      사용년월   라인  역명      승차      하차
23  201501  2호선  방배  610840  616838
      사용년월   라인  역명       승차       하차
25  201501  2호선  사당  1385747  1525548
      사용년월   라인   역명      승차      하차
16  201501  2호선  낙성대  942788  906543
      사용년월   라인     역명       승차       하차
28  201501  2호선  서울대입구  1646581  1620564
      사용년월   라인  역명      승차      하차
24  201501  2호선  봉천  759890  707083
      사용년월   라인  역명       승차       하차
37  201501  2호선  신림  2278447  2236704
      사용년월   라인   역명      승차      하차
35  201501  2호선  신대방  844486  811582
      사용년월   라인       역명       승차       하차
14  201501  2호선  구로디지털단지  1984765  1998025
      사용년월   라인  역명      승차       하차
18  201501  2호선  대림  984518  1023860
      사용년월   라인   역명       승차       하차
36  201501  2호선  신도림  2044253  2022323
      사용년월   라인  역명      승차      하차
22  201501  2호선  문래  585927  590420
      사용년월   라인     역명      승차      하차
45  201501  2호선  영등포구청  671143  666855
      사용년월   라인  역명      승차      하차
17  201501  2호선  당산  697684  752400
      사용년월   라인  역명       승차       하차
58  201501  2호선  합정  1105941  1050917
      사용년월   라인    역명       승차       하차
59  201501  2호선  홍대입구  2322395  2480866
      사용년월   라인  역명       승차       하차
41  201501  2호선  신촌  1631083  1661471
      사용년월   라인  역명      승차      하차
52  201501  2호선  이대  655263  675884
      사용년월   라인  역명      승차      하차
42  201501  2호선  아현  265976  253203
      사용년월   라인   역명      승차      하차
56  201501  2호선  충정로  347216  369657
      사용년월   라인  역명     승차     하차
47  201501  2호선  용답  75320  76213
      사용년월   라인  역명     승차     하차
33  201501  2호선  신답  39651  45699
      사용년월   라인   역명      승차      하차
38  201501  2호선  신설동  127684  124389
      사용년월   라인   역명     승차     하차
19  201501  2호선  도림천  28464  31440
      사용년월   라인    역명      승차      하차
43  201501  2호선  양천구청  220145  233614
      사용년월   라인     역명      승차      하차
39  201501  2호선  신정네거리  332475  331793
      사용년월   라인  역명     승차     하차
48  201501  2호선  용두  68005  73166
      사용년월   라인  역명     승차     하차
90  201501  3호선  지축  36548  39352
      사용년월   라인   역명      승차      하차
65  201501  3호선  구파발  501618  400461
      사용년월   라인   역명       승차       하차
83  201501  3호선  연신내  1252648  1182957
      사용년월   라인  역명      승차      하차
76  201501  3호선  불광  579548  635569
      사용년월   라인  역명      승차      하차
68  201501  3호선  녹번  463186  399399
      사용년월   라인  역명      승차      하차
93  201501  3호선  홍제  610830  572949
      사용년월   라인   역명      승차      하차
75  201501  3호선  무악재  135601  132589
      사용년월   라인   역명      승차      하차
72  201501  3호선  독립문  226087  230000
      사용년월   라인   역명      승차      하차
61  201501  3호선  경복궁  699289  742318
      사용년월   라인  역명      승차      하차
79  201501  3호선  안국  807845  879581
      사용년월   라인    역명      승차      하차
89  201501  3호선  종로3가  286856  370253
      사용년월   라인     역명      승차      하차
86  201501  3호선  을지로3가  283297  323413
      사용년월   라인   역명  승차  하차
91  201501  3호선  충무로  40   0
      사용년월   라인    역명      승차      하차
73  201501  3호선  동대입구  318020  349715
      사용년월   라인  역명      승차      하차
81  201501  3호선  약수  452798  429384
      사용년월   라인  역명      승차      하차
66  201501  3호선  금호  243813  223093
      사용년월   라인  역명      승차      하차
85  201501  3호선  옥수  315350  326432
      사용년월   라인   역명       승차       하차
80  201501  3호선  압구정  1225296  1343724
      사용년월   라인  역명       승차       하차
78  201501  3호선  신사  1012714  1093871
      사용년월   라인  역명      승차      하차
88  201501  3호선  잠원  180590  175307
      사용년월   라인     역명       승차       하차
63  201501  3호선  고속터미널  1844930  1898650
      사용년월   라인  역명      승차      하차
64  201501  3호선  교대  434673  321663
      사용년월   라인     역명       승차       하차
67  201501  3호선  남부터미널  1150734  1182829
      사용년월   라인  역명       승차       하차
82  201501  3호선  양재  1285276  1372334
      사용년월   라인  역명      승차      하차
74  201501  3호선  매봉  366208  348542
      사용년월   라인  역명      승차      하차
71  201501  3호선  도곡  232439  210454
      사용년월   라인  역명      승차      하차
70  201501  3호선  대치  376563  350521
      사용년월   라인   역명      승차      하차
92  201501  3호선  학여울  108617  110588
      사용년월   라인  역명      승차      하차
69  201501  3호선  대청  333256  293209
      사용년월   라인  역명      승차      하차
87  201501  3호선  일원  294063  308511
      사용년월   라인  역명      승차      하차
77  201501  3호선  수서  377439  387108
      사용년월   라인    역명      승차      하차
60  201501  3호선  가락시장  278903  255560
      사용년월   라인    역명      승차      하차
62  201501  3호선  경찰병원  229131  226552
      사용년월   라인  역명      승차      하차
84  201501  3호선  오금  208927  183394
      사용년월   라인   역명      승차      하차
97  201501  4호선  당고개  411855  386719
       사용년월   라인  역명      승차      하차
106  201501  4호선  상계  685126  615227
      사용년월   라인  역명      승차      하차
96  201501  4호선  노원  743732  828841
       사용년월   라인  역명      승차       하차
114  201501  4호선  창동  932447  1007976
       사용년월   라인  역명       승차      하차
112  201501  4호선  쌍문  1046384  901462
       사용년월   라인        역명       승차       하차
109  201501  4호선  수유(강북구청)  1388540  1350566
       사용년월   라인  역명      승차      하차
102  201501  4호선  미아  581447  532341
       사용년월   라인     역명       승차       하차
103  201501  4호선  미아사거리  1047957  1018148
      사용년월   라인  역명      승차      하차
94  201501  4호선  길음  827117  781123
       사용년월   라인      역명      승차      하차
108  201501  4호선  성신여대입구  777749  718800
       사용년월   라인     역명      승차      하차
117  201501  4호선  한성대입구  470078  452047
       사용년월   라인  역명       승차       하차
118  201501  4호선  혜화  1369000  1427724
      사용년월   라인   역명      승차      하차
98  201501  4호선  동대문  755192  785187
      사용년월   라인         역명      승차      하차
99  201501  4호선  동대문역사문화공원  700654  639235
       사용년월   라인   역명       승차       하차
116  201501  4호선  충무로  1000880  1040775
       사용년월   라인  역명       승차       하차
101  201501  4호선  명동  1221459  1333783
       사용년월   라인  역명      승차      하차
119  201501  4호선  회현  881423  938046
       사용년월   라인   역명      승차      하차
107  201501  4호선  서울역  321790  577720
       사용년월   라인    역명      승차      하차
110  201501  4호선  숙대입구  498874  491614
       사용년월   라인    역명      승차      하차
813  201502  8호선  몽촌토성  167451  177989
       사용년월   라인  역명      승차      하차
822  201502  8호선  잠실  284420  330564
       사용년월   라인  역명      승차      하차
817  201502  8호선  석촌  243513  254449
       사용년월   라인  역명      승차      하차
818  201502  8호선  송파  138271  141196
       사용년월   라인    역명      승차      하차
808  201502  8호선  가락시장  174449  202487
       사용년월   라인  역명      승차      하차
814  201502  8호선  문정  146493  140701
       사용년월   라인  역명      승차      하차
823  201502  8호선  장지  330372  319009
       사용년월   라인  역명      승차      하차
815  201502  8호선  복정  182530  133545
       사용년월   라인  역명      승차      하차
816  201502  8호선  산성  190929  185488
       사용년월   라인      역명      승차      하차
810  201502  8호선  남한산성입구  365301  327004
       사용년월   라인     역명      승차      하차
811  201502  8호선  단대오거리  329987  309295
       사용년월   라인  역명      승차      하차
820  201502  8호선  신흥  149681  154838
       사용년월   라인  역명      승차      하차
819  201502  8호선  수진  141414  131165
       사용년월   라인  역명      승차     하차
812  201502  8호선  모란  124228  92877
       사용년월   라인  역명      승차     하차
826  201502  9호선  개화  150979  95684
       사용년월   라인    역명      승차      하차
831  201502  9호선  김포공항  238307  278129
       사용년월   라인    역명     승차     하차
828  201502  9호선  공항시장  82203  91791
       사용년월   라인   역명      승차      하차
844  201502  9호선  신방화  188719  181225
       사용년월   라인    역명     승차     하차
837  201502  9호선  마곡나루  49690  46598
       사용년월   라인    역명      승차      하차
845  201502  9호선  양천향교  177376  173059
       사용년월   라인  역명      승차      하차
825  201502  9호선  가양  517713  495247
       사용년월   라인  역명      승차      하차
848  201502  9호선  증미  201020  206197
       사용년월   라인  역명      승차      하차
836  201502  9호선  등촌  295558  287856
       사용년월   라인  역명      승차      하차
847  201502  9호선  염창  371202  362215
       사용년월   라인   역명      승차     하차
842  201502  9호선  신목동  105302  90134
       사용년월   라인   역명      승차      하차
840  201502  9호선  선유도  166344  162811
       사용년월   라인  역명      승차      하차
834  201502  9호선  당산  410288  376176
       사용년월   라인     역명      승차      하차
830  201502  9호선  국회의사당  376388  375860
       사용년월   라인   역명      승차      하차
846  201502  9호선  여의도  426834  423338
       사용년월   라인  역명      승차      하차
839  201502  9호선  샛강  145461  146680

       사용년월   라인   역명      승차      하차
833  201502  9호선  노량진  817376  864768
       사용년월   라인  역명      승차      하차
832  201502  9호선  노들  126944  106065
       사용년월   라인         역명      승차      하차
849  201502  9호선  흑석(중앙대입구)  265374  273156
       사용년월   라인  역명     승차     하차
835  201502  9호선  동작  46872  33976
       사용년월   라인   역명     승차     하차
829  201502  9호선  구반포  87859  93702
       사용년월   라인   역명     승차     하차
843  201502  9호선  신반포  78207  78892
       사용년월   라인     역명      승차      하차
827  201502  9호선  고속터미널  405150  453218
       사용년월   라인  역명     승차     하차
838  201502  9호선  사평  73253  69433
       사용년월   라인   역명      승차      하차
841  201502  9호선  신논현  805680  788307
       사용년월   라인   역명       승차       하차
550  201502  1호선  서울역  1916627  1701043
       사용년월   라인  역명      승차      하차
551  201502  1호선  시청  613510  608754
       사용년월   라인  역명       승차       하차
554  201502  1호선  종각  1271236  1199408
       사용년월   라인    역명       승차      하차
555  201502  1호선  종로3가  1026335  962203
       사용년월   라인    역명      승차      하차
556  201502  1호선  종로5가  740282  741590
       사용년월   라인   역명      승차      하차
548  201502  1호선  동대문  438714  498443
       사용년월   라인   역명      승차      하차
552  201502  1호선  신설동  433404  418857
       사용년월   라인   역명      승차      하차
553  201502  1호선  제기동  567419  588452
       사용년월   라인       역명      승차      하차
557  201502  1호선  청량리(지하)  823622  847144
       사용년월   라인   역명      승차      하차
549  201502  1호선  동묘앞  262709  280888
       사용년월   라인  역명      승차      하차
580  201502  2호선  시청  646587  617750
       사용년월   라인     역명       승차       하차
599  201502  2호선  을지로입구  1418121  1394558
       사용년월   라인     역명      승차      하차
597  201502  2호선  을지로3가  505548  496355
       사용년월   라인     역명      승차      하차
598  201502  2호선  을지로4가  345329  349749
       사용년월   라인         역명      승차      하차
568  201502  2호선  동대문역사문화공원  473467  535947
       사용년월   라인  역명      승차      하차
582  201502  2호선  신당  392275  413866
       사용년월   라인    역명      승차      하차
575  201502  2호선  상왕십리  264060  253626
       사용년월   라인         역명      승차      하차
594  201502  2호선  왕십리(성동구청)  514566  447699
       사용년월   라인   역명      승차      하차
605  201502  2호선  한양대  217394  250156
       사용년월   라인  역명      승차      하차
569  201502  2호선  뚝섬  392432  410615
       사용년월   라인  역명      승차      하차
579  201502  2호선  성수  625103  679978
       사용년월   라인    역명       승차       하차
560  201502  2호선  건대입구  1202947  1320887
       사용년월   라인  역명      승차      하차
563  201502  2호선  구의  626484  617602
       사용년월   라인  역명       승차       하차
559  201502  2호선  강변  1413084  1416940
       사용년월   라인    역명      승차      하차
602  201502  2호선  잠실나루  473703  453551
       사용년월   라인  역명       승차       하차
601  201502  2호선  잠실  2194249  1986104
       사용년월   라인  역명      승차      하차
588  201502  2호선  신천  718296  707776
       사용년월   라인     역명      승차      하차
603  201502  2호선  종합운동장  319895  333948
       사용년월   라인  역명       승차       하차
574  201502  2호선  삼성  1663264  1685289
       사용년월   라인  역명       승차       하차
578  201502  2호선  선릉  1443309  1257292
       사용년월   라인  역명       승차       하차
592  201502  2호선  역삼  1230620  1339788
       사용년월   라인  역명       승차       하차
558  201502  2호선  강남  2889402  2937327
       사용년월   라인  역명      승차       하차
561  201502  2호선  교대  989953  1088831
       사용년월   라인  역명      승차      하차
577  201502  2호선  서초  581283  587489
       사용년월   라인  역명      승차      하차
571  201502  2호선  방배  513227  517746
       사용년월   라인  역명       승차       하차
573  201502  2호선  사당  1141411  1262752
       사용년월   라인   역명      승차      하차
564  201502  2호선  낙성대  797969  765194
       사용년월   라인     역명       승차       하차
576  201502  2호선  서울대입구  1383907  1358969
       사용년월   라인  역명      승차      하차
572  201502  2호선  봉천  647855  601333
       사용년월   라인  역명       승차       하차
585  201502  2호선  신림  1953398  1916783
       사용년월   라인   역명      승차      하차
583  201502  2호선  신대방  729790  702495
       사용년월   라인       역명       승차       하차
562  201502  2호선  구로디지털단지  1688233  1695883
       사용년월   라인  역명      승차      하차
566  201502  2호선  대림  857688  894917
       사용년월   라인   역명       승차       하차
584  201502  2호선  신도림  1771830  1760210
       사용년월   라인  역명      승차      하차
570  201502  2호선  문래  497344  500729
       사용년월   라인     역명      승차      하차
593  201502  2호선  영등포구청  567762  564429
       사용년월   라인  역명      승차      하차
565  201502  2호선  당산  587483  636259
       사용년월   라인  역명      승차      하차
606  201502  2호선  합정  949938  900613
       사용년월   라인    역명       승차       하차
607  201502  2호선  홍대입구  2076557  2224332
       사용년월   라인  역명       승차       하차
589  201502  2호선  신촌  1412784  1434050
       사용년월   라인  역명      승차      하차
600  201502  2호선  이대  592885  614764
       사용년월   라인  역명      승차      하차
590  201502  2호선  아현  232594  221490
       사용년월   라인   역명      승차      하차
604  201502  2호선  충정로  294804  313706
       사용년월   라인  역명     승차     하차
595  201502  2호선  용답  64834  64346
       사용년월   라인  역명     승차     하차
581  201502  2호선  신답  33544  38567
       사용년월   라인   역명      승차      하차
586  201502  2호선  신설동  108105  104037
       사용년월   라인   역명     승차     하차
567  201502  2호선  도림천  24216  27038
       사용년월   라인    역명      승차      하차
591  201502  2호선  양천구청  188795  199786
       사용년월   라인     역명      승차      하차
587  201502  2호선  신정네거리  287662  285875
       사용년월   라인  역명     승차     하차
596  201502  2호선  용두  60658  65036
       사용년월   라인  역명     승차     하차
638  201502  3호선  지축  31758  33789
       사용년월   라인   역명      승차      하차
613  201502  3호선  구파발  434800  350675
       사용년월   라인   역명       승차       하차
631  201502  3호선  연신내  1089931  1031521
       사용년월   라인  역명      승차      하차
624  201502  3호선  불광  494996  543994
       사용년월   라인  역명      승차      하차
616  201502  3호선  녹번  397927  344074
       사용년월   라인  역명      승차      하차
641  201502  3호선  홍제  527616  495602
       사용년월   라인   역명      승차      하차
623  201502  3호선  무악재  115880  113424
       사용년월   라인   역명      승차      하차
620  201502  3호선  독립문  194578  197533
       사용년월   라인   역명      승차      하차
609  201502  3호선  경복궁  604548  651371
       사용년월   라인  역명      승차      하차
627  201502  3호선  안국  700632  766895
       사용년월   라인    역명      승차      하차
637  201502  3호선  종로3가  234380  308397
       사용년월   라인     역명      승차      하차
634  201502  3호선  을지로3가  235038  266818
       사용년월   라인   역명  승차  하차
639  201502  3호선  충무로  33   0
       사용년월   라인    역명      승차      하차
621  201502  3호선  동대입구  268874  299408
       사용년월   라인  역명      승차      하차
629  201502  3호선  약수  387296  368031
       사용년월   라인  역명      승차      하차
614  201502  3호선  금호  209713  193437
       사용년월   라인  역명      승차      하차
633  201502  3호선  옥수  269446  277798
       사용년월   라인   역명       승차       하차
628  201502  3호선  압구정  1014584  1113472
       사용년월   라인  역명      승차      하차
626  201502  3호선  신사  856522  921692
       사용년월   라인  역명      승차      하차
636  201502  3호선  잠원  152324  147682
       사용년월   라인     역명       승차       하차
611  201502  3호선  고속터미널  1701284  1771989
       사용년월   라인  역명      승차      하차
612  201502  3호선  교대  357272  265034
       사용년월   라인     역명       승차       하차
615  201502  3호선  남부터미널  1004433  1038268
       사용년월   라인  역명       승차       하차
630  201502  3호선  양재  1079202  1147235
       사용년월   라인  역명      승차      하차
622  201502  3호선  매봉  308316  291242
       사용년월   라인  역명      승차      하차
619  201502  3호선  도곡  201010  184589
       사용년월   라인  역명      승차      하차
618  201502  3호선  대치  320219  298603
       사용년월   라인   역명      승차      하차
640  201502  3호선  학여울  107295  109658
       사용년월   라인  역명      승차      하차
617  201502  3호선  대청  290506  255809
       사용년월   라인  역명      승차      하차
635  201502  3호선  일원  248105  261379
       사용년월   라인  역명      승차      하차
625  201502  3호선  수서  322878  329972
       사용년월   라인    역명      승차      하차
608  201502  3호선  가락시장  238318  218674
       사용년월   라인    역명      승차      하차
610  201502  3호선  경찰병원  193675  191363
       사용년월   라인  역명      승차      하차
632  201502  3호선  오금  175652  155200
       사용년월   라인   역명      승차      하차
645  201502  4호선  당고개  359255  337590
       사용년월   라인  역명      승차      하차
654  201502  4호선  상계  591055  532482
       사용년월   라인  역명      승차      하차
644  201502  4호선  노원  649734  722531
       사용년월   라인  역명      승차      하차
662  201502  4호선  창동  811896  876026
       사용년월   라인  역명      승차      하차
660  201502  4호선  쌍문  895496  770705
       사용년월   라인        역명       승차       하차
657  201502  4호선  수유(강북구청)  1203024  1172753
       사용년월   라인  역명      승차      하차
650  201502  4호선  미아  502114  456823
       사용년월   라인     역명      승차      하차
651  201502  4호선  미아사거리  911384  882744
       사용년월   라인  역명      승차      하차
642  201502  4호선  길음  715569  677946
       사용년월   라인      역명      승차      하차
656  201502  4호선  성신여대입구  682190  631140

       사용년월   라인     역명      승차      하차
665  201502  4호선  한성대입구  409167  394887
       사용년월   라인  역명       승차       하차
666  201502  4호선  혜화  1148886  1203535
       사용년월   라인   역명      승차      하차
646  201502  4호선  동대문  633854  654328
       사용년월   라인         역명      승차      하차
647  201502  4호선  동대문역사문화공원  609597  550912
       사용년월   라인   역명      승차      하차
664  201502  4호선  충무로  845803  876055
       사용년월   라인  역명       승차       하차
649  201502  4호선  명동  1159858  1268388
       사용년월   라인  역명      승차      하차
667  201502  4호선  회현  742490  784598
       사용년월   라인   역명      승차      하차
655  201502  4호선  서울역  271083  504762
       사용년월   라인    역명      승차      하차
658  201502  4호선  숙대입구  425278  415581
       사용년월   라인   역명      승차      하차
653  201502  4호선  삼각지  145411  181489
       사용년월   라인   역명      승차      하차
659  201502  4호선  신용산  349149  375004
       사용년월   라인  역명      승차      하차
661  201502  4호선  이촌  246647  272590
       사용년월   라인  역명     승차     하차
648  201502  4호선  동작  58559  61246
       사용년월   라인     역명      승차      하차
663  201502  4호선  총신대입구  604762  672378
       사용년월   라인  역명      승차      하차
652  201502  4호선  사당  856902  685033
       사용년월   라인   역명     승차     하차
643  201502  4호선  남태령  34922  25908
       사용년월   라인  역명      승차      하차
692  201502  5호선  방화  197252  188786
       사용년월   라인   역명      승차      하차
670  201502  5호선  개화산  157700  144879
       사용년월   라인    역명      승차      하차
679  201502  5호선  김포공항  217074  190833
       사용년월   라인  역명      승차      하차
695  201502  5호선  송정  283129  281544
       사용년월   라인  역명     승차     하차
684  201502  5호선  마곡  72376  60146
       사용년월   라인  역명      승차      하차
690  201502  5호선  발산  283537  280490
       사용년월   라인   역명      승차      하차
710  201502  5호선  우장산  414565  406280
       사용년월   라인  역명      승차      하차
718  201502  5호선  화곡  757253  697277
       사용년월   라인   역명      승차      하차
680  201502  5호선  까치산  795259  755281
       사용년월   라인  역명      승차      하차
698  201502  5호선  신정  372594  302561
       사용년월   라인  역명      승차      하차
689  201502  5호선  목동  499887  521447
       사용년월   라인   역명      승차      하차
707  201502  5호선  오목교  698230  740423
       사용년월   라인  역명      승차      하차
701  201502  5호선  양평  159564  161063
       사용년월   라인     역명     승차     하차
704  201502  5호선  영등포구청  85770  87246
       사용년월   라인     역명      승차      하차
705  201502  5호선  영등포시장  210202  227822
       사용년월   라인  역명     승차     하차
697  201502  5호선  신길  74779  86931
       사용년월   라인   역명      승차      하차
703  201502  5호선  여의도  561445  607090
       사용년월   라인    역명      승차      하차
702  201502  5호선  여의나루  190242  200456
       사용년월   라인  역명      승차      하차
687  201502  5호선  마포  369103  386427
       사용년월   라인  역명      승차      하차
673  201502  5호선  공덕  338308  354634
       사용년월   라인   역명      승차      하차
700  201502  5호선  애오개  158476  160191
       사용년월   라인   역명      승차      하차
716  201502  5호선  충정로  117148  120385
       사용년월   라인   역명      승차      하차
694  201502  5호선  서대문  417719  429172
       사용년월   라인   역명      승차      하차
675  201502  5호선  광화문  929134  957185
       사용년월   라인    역명      승차      하차
713  201502  5호선  종로3가  377304  376473
       사용년월   라인     역명      승차      하차
711  201502  5호선  을지로4가  132273  141843
       사용년월   라인         역명     승차     하차
682  201502  5호선  동대문역사문화공원  84100  99416
       사용년월   라인  역명      승차      하차
715  201502  5호선  청구  119140  111786
       사용년월   라인   역명      승차      하차
696  201502  5호선  신금호  138032  141175
       사용년월   라인  역명      승차      하차
717  201502  5호선  행당  220290  193011
       사용년월   라인         역명      승차      하차
709  201502  5호선  왕십리(성동구청)  136910  165579
       사용년월   라인  역명      승차      하차
685  201502  5호선  마장  168250  162873
       사용년월   라인   역명      승차      하차
681  201502  5호선  답십리  435040  401609
       사용년월   라인   역명      승차      하차
712  201502  5호선  장한평  477503  478381
       사용년월   라인  역명      승차      하차
676  201502  5호선  군자  279211  309456
       사용년월   라인   역명      승차      하차
699  201502  5호선  아차산  385843  363452
       사용년월   라인   역명      승차      하차
674  201502  5호선  광나루  389344  350957
       사용년월   라인  역명      승차      하차
714  201502  5호선  천호  599467  637339
       사용년월   라인  역명      승차      하차
668  201502  5호선  강동  511180  430396
       사용년월   라인  역명      승차      하차
678  201502  5호선  길동  202524  214033
       사용년월   라인    역명      승차      하차
677  201502  5호선  굽은다리  256782  240323
       사용년월   라인  역명      승차      하차
688  201502  5호선  명일  248033  245672
       사용년월   라인  역명      승차      하차
672  201502  5호선  고덕  224540  223534
       사용년월   라인   역명      승차      하차
693  201502  5호선  상일동  324216  274371
       사용년월   라인   역명      승차      하차
683  201502  5호선  둔촌동  348231  350223
       사용년월   라인     역명      승차      하차
708  201502  5호선  올림픽공원  162670  160403
       사용년월   라인  역명      승차      하차
691  201502  5호선  방이  184873  187281
       사용년월   라인  역명      승차      하차
706  201502  5호선  오금  100619  100241
       사용년월   라인  역명      승차      하차
669  201502  5호선  개롱  181850  180145
       사용년월   라인  역명      승차      하차
671  201502  5호선  거여  192417  179772
       사용년월   라인  역명      승차      하차
686  201502  5호선  마천  163541  166443
       사용년월   라인  역명      승차      하차
747  201502  6호선  응암  452072  441925
       사용년월   라인  역명     승차      하차
743  201502  6호선  역촌  95951  109665
       사용년월   라인  역명      승차      하차
734  201502  6호선  불광  153630  141355
       사용년월   라인   역명     승차     하차
725  201502  6호선  독바위  75430  82867
       사용년월   라인   역명  승차  하차
744  201502  6호선  연신내  15   0
       사용년월   라인  역명      승차      하차
722  201502  6호선  구산  202889  154797
       사용년월   라인  역명      승차      하차
738  201502  6호선  새절  337002  321705
       사용년월   라인  역명      승차      하차
749  201502  6호선  증산  276750  259855
       사용년월   라인        역명      승차      하차
728  201502  6호선  디지털미디어시티  385474  418157
       사용년월   라인      역명      승차      하차
746  201502  6호선  월드컵경기장  165021  173619
       사용년월   라인    역명      승차      하차
729  201502  6호선  마포구청  358106  312209
       사용년월   라인  역명      승차      하차
730  201502  6호선  망원  312420  333774
       사용년월   라인  역명      승차      하차
754  201502  6호선  합정  277700  310756
       사용년월   라인  역명      승차      하차
736  201502  6호선  상수  261646  300963
       사용년월   라인   역명      승차      하차
721  201502  6호선  광흥창  240010  231770
       사용년월   라인  역명      승차      하차
724  201502  6호선  대흥  210297  222706
       사용년월   라인  역명      승차      하차
720  201502  6호선  공덕  449458  441101
       사용년월   라인     역명      승차      하차
756  201502  6호선  효창공원앞  201287  192900
       사용년월   라인   역명      승차      하차
735  201502  6호선  삼각지  192759  148840
       사용년월   라인         역명      승차      하차
723  201502  6호선  녹사평(용산구청)  188576  208175
       사용년월   라인   역명      승차      하차
748  201502  6호선  이태원  442785  492720
       사용년월   라인   역명      승차      하차
753  201502  6호선  한강진  152670  181565
       사용년월   라인    역명     승차     하차
731  201502  6호선  버티고개  63128  62536
       사용년월   라인  역명     승차     하차
742  201502  6호선  약수  93460  93680
       사용년월   라인  역명     승차     하차
751  201502  6호선  청구  82612  89014
       사용년월   라인  역명      승차      하차
740  201502  6호선  신당  206621  208392
       사용년월   라인   역명      승차      하차
727  201502  6호선  동묘앞  249060  243380
       사용년월   라인  역명     승차     하차
750  201502  6호선  창신  82091  66448
       사용년월   라인  역명      승차      하차
732  201502  6호선  보문  216639  192249
       사용년월   라인  역명      승차      하차
741  201502  6호선  안암  315915  321527
       사용년월   라인   역명      승차      하차
719  201502  6호선  고려대  237558  233248
       사용년월   라인  역명      승차      하차
745  201502  6호선  월곡  315151  302556
       사용년월   라인   역명      승차      하차
737  201502  6호선  상월곡  163419  146333
       사용년월   라인   역명      승차      하차
726  201502  6호선  돌곶이  248299  226890
       사용년월   라인  역명      승차      하차
739  201502  6호선  석계  348621  347585
       사용년월   라인    역명      승차      하차
752  201502  6호선  태릉입구  131283  143325
       사용년월   라인   역명      승차      하차
755  201502  6호선  화랑대  314940  241143
       사용년월   라인          역명      승차      하차
733  201502  6호선  봉화산(서울의료원)  246687  232610
       사용년월   라인  역명     승차     하차
797  201502  7호선  장암  61533  21941
       사용년월   라인   역명      승차      하차
772  201502  7호선  도봉산  302727  284109
       사용년월   라인   역명      승차      하차
787  201502  7호선  수락산  389739  373070
       사용년월   라인  역명      승차      하차
774  201502  7호선  마들  327168  297206
       사용년월   라인  역명      승차      하차
769  201502  7호선  노원  590715  636190
       사용년월   라인  역명      승차      하차
798  201502  7호선  중계  414837  376594
       사용년월   라인  역명      승차      하차
806  201502  7호선  하계  545635  512036
       사용년월   라인  역명      승차      하차
761  201502  7호선  공릉  327096  324335
       사용년월   라인    역명      승차      하차
805  201502  7호선  태릉입구  209820  193651
       사용년월   라인  역명      승차      하차
775  201502  7호선  먹골  279272  268019

       사용년월   라인  역명      승차      하차
800  201502  7호선  중화  317625  301658
       사용년월   라인  역명      승차      하차
786  201502  7호선  상봉  476177  444869
       사용년월   라인  역명      승차      하차
776  201502  7호선  면목  398346  383750
       사용년월   라인   역명      승차      하차
782  201502  7호선  사가정  443855  430070
       사용년월   라인   역명      승차      하차
794  201502  7호선  용마산  163826  156221
       사용년월   라인  역명      승차      하차
799  201502  7호선  중곡  271333  251615
       사용년월   라인  역명      승차      하차
763  201502  7호선  군자  390632  292658
       사용년월   라인      역명      승차      하차
792  201502  7호선  어린이대공원  350261  344221
       사용년월   라인    역명      승차      하차
759  201502  7호선  건대입구  466358  494889
       사용년월   라인     역명      승차      하차
773  201502  7호선  뚝섬유원지  207947  199846
       사용년월   라인  역명      승차      하차
803  201502  7호선  청담  613097  693003
       사용년월   라인    역명      승차      하차
758  201502  7호선  강남구청  459325  496162
       사용년월   라인  역명      승차      하차
807  201502  7호선  학동  615361  672132
       사용년월   라인  역명      승차      하차
770  201502  7호선  논현  526128  578679
       사용년월   라인  역명      승차      하차
777  201502  7호선  반포  172210  162604
       사용년월   라인     역명      승차      하차
760  201502  7호선  고속터미널  621474  530773
       사용년월   라인  역명      승차      하차
768  201502  7호선  내방  367022  379946
       사용년월   라인  역명      승차      하차
795  201502  7호선  이수  457395  451778
       사용년월   라인  역명      승차      하차
767  201502  7호선  남성  301935  279221
       사용년월   라인     역명      승차      하차
788  201502  7호선  숭실대입구  369117  361685
       사용년월   라인  역명      승차      하차
784  201502  7호선  상도  289439  272118
       사용년월   라인    역명      승차      하차
796  201502  7호선  장승배기  288300  278097
       사용년월   라인      역명      승차      하차
789  201502  7호선  신대방삼거리  419366  397855
       사용년월   라인   역명      승차      하차
778  201502  7호선  보라매  252003  251314
       사용년월   라인  역명      승차      하차
791  201502  7호선  신풍  321227  304647
       사용년월   라인  역명      승차      하차
771  201502  7호선  대림  324137  325658
       사용년월   라인   역명      승차      하차
766  201502  7호선  남구로  452996  466834
       사용년월   라인       역명       승차       하차
757  201502  7호선  가산디지털단지  1086711  1086174
       사용년월   라인  역명      승차      하차
802  201502  7호선  철산  663339  664286
       사용년월   라인     역명      승차      하차
762  201502  7호선  광명사거리  749048  721385
       사용년월   라인  역명      승차      하차
801  201502  7호선  천왕  209092  190752
       사용년월   라인  역명      승차      하차
793  201502  7호선  온수  272891  258103
       사용년월   라인   역명      승차      하차
765  201502  7호선  까치울  134504  119344
       사용년월   라인       역명      승차      하차
780  201502  7호선  부천종합운동장  132954  121919
       사용년월   라인  역명      승차      하차
804  201502  7호선  춘의  192308  187106
       사용년월   라인   역명      승차      하차
790  201502  7호선  신중동  357401  353674
       사용년월   라인    역명      승차      하차
779  201502  7호선  부천시청  317311  322050
       사용년월   라인  역명      승차      하차
785  201502  7호선  상동  355335  362616
       사용년월   라인     역명      승차      하차
783  201502  7호선  삼산체육관  139380  127383
       사용년월   라인   역명      승차      하차
764  201502  7호선  굴포천  217345  221864
       사용년월   라인    역명      승차      하차
781  201502  7호선  부평구청  299137  226621
       사용년월   라인  역명      승차      하차
821  201502  8호선  암사  457336  407823
       사용년월   라인  역명      승차      하차
824  201502  8호선  천호  531218  578888
       사용년월   라인    역명      승차      하차
809  201502  8호선  강동구청  273893  283141
        사용년월   라인     역명      승차      하차
1253  201503  5호선  영등포시장  257713  278031
        사용년월   라인  역명     승차      하차
1245  201503  5호선  신길  97327  114731
        사용년월   라인   역명      승차      하차
1251  201503  5호선  여의도  723950  795371
        사용년월   라인    역명      승차      하차
1250  201503  5호선  여의나루  297858  317640
        사용년월   라인  역명      승차      하차
1235  201503  5호선  마포  467640  488337
        사용년월   라인  역명      승차      하차
1221  201503  5호선  공덕  438033  459072
        사용년월   라인   역명      승차      하차
1248  201503  5호선  애오개  207064  210659
        사용년월   라인   역명      승차      하차
1264  201503  5호선  충정로  162290  169891
        사용년월   라인   역명      승차      하차
1242  201503  5호선  서대문  569396  581258
        사용년월   라인   역명       승차       하차
1223  201503  5호선  광화문  1145852  1207685
        사용년월   라인    역명      승차      하차
1261  201503  5호선  종로3가  438366  437664
        사용년월   라인     역명      승차      하차
1259  201503  5호선  을지로4가  161153  174707
        사용년월   라인         역명      승차      하차
1230  201503  5호선  동대문역사문화공원  101313  121238
        사용년월   라인  역명      승차      하차
1263  201503  5호선  청구  140462  133133
        사용년월   라인   역명      승차      하차
1244  201503  5호선  신금호  179388  183234
        사용년월   라인  역명      승차      하차
1265  201503  5호선  행당  278676  243942
        사용년월   라인         역명      승차      하차
1257  201503  5호선  왕십리(성동구청)  170240  204581
        사용년월   라인  역명      승차      하차
1233  201503  5호선  마장  215400  211419
        사용년월   라인   역명      승차      하차
1229  201503  5호선  답십리  548355  505464
        사용년월   라인   역명      승차      하차
1260  201503  5호선  장한평  610390  611552
        사용년월   라인  역명      승차      하차
1224  201503  5호선  군자  355294  389333
        사용년월   라인   역명      승차      하차
1247  201503  5호선  아차산  511191  478530
        사용년월   라인   역명      승차      하차
1222  201503  5호선  광나루  514682  468039
        사용년월   라인  역명      승차      하차
1262  201503  5호선  천호  713352  769173
        사용년월   라인  역명      승차      하차
1216  201503  5호선  강동  654412  546170
        사용년월   라인  역명      승차      하차
1226  201503  5호선  길동  251328  264881
        사용년월   라인    역명      승차      하차
1225  201503  5호선  굽은다리  324014  303117
        사용년월   라인  역명      승차      하차
1236  201503  5호선  명일  315612  312196
        사용년월   라인  역명      승차      하차
1220  201503  5호선  고덕  289370  288277
        사용년월   라인   역명      승차      하차
1241  201503  5호선  상일동  410772  346070
        사용년월   라인   역명      승차      하차
1231  201503  5호선  둔촌동  449792  450629
        사용년월   라인     역명      승차      하차
1256  201503  5호선  올림픽공원  286026  283790
        사용년월   라인  역명      승차      하차
1239  201503  5호선  방이  233111  234855
        사용년월   라인  역명      승차      하차
1254  201503  5호선  오금  133734  133157
        사용년월   라인  역명      승차      하차
1217  201503  5호선  개롱  230328  228955
        사용년월   라인  역명      승차      하차
1219  201503  5호선  거여  250096  234655
        사용년월   라인  역명      승차      하차
1234  201503  5호선  마천  206492  209189
        사용년월   라인  역명      승차      하차
1295  201503  6호선  응암  570309  554143
        사용년월   라인  역명      승차      하차
1291  201503  6호선  역촌  119043  137819
        사용년월   라인  역명      승차      하차
1282  201503  6호선  불광  179980  173946
        사용년월   라인   역명     승차      하차
1273  201503  6호선  독바위  95683  107848
        사용년월   라인   역명  승차  하차
1292  201503  6호선  연신내  14   0
        사용년월   라인  역명      승차      하차
1270  201503  6호선  구산  261985  195882
        사용년월   라인  역명      승차      하차
1286  201503  6호선  새절  467508  447427
        사용년월   라인  역명      승차      하차
1297  201503  6호선  증산  350178  334398
        사용년월   라인        역명      승차      하차
1276  201503  6호선  디지털미디어시티  494492  534626
        사용년월   라인      역명      승차      하차
1294  201503  6호선  월드컵경기장  223928  237128
        사용년월   라인    역명      승차      하차
1277  201503  6호선  마포구청  457036  397968
        사용년월   라인  역명      승차      하차
1278  201503  6호선  망원  393707  417613
        사용년월   라인  역명      승차      하차
1302  201503  6호선  합정  351470  388833
        사용년월   라인  역명      승차      하차
1284  201503  6호선  상수  334857  388689
        사용년월   라인   역명      승차      하차
1269  201503  6호선  광흥창  308751  298275
        사용년월   라인  역명      승차      하차
1272  201503  6호선  대흥  298433  319332
        사용년월   라인  역명      승차      하차
1268  201503  6호선  공덕  573517  563812
        사용년월   라인     역명      승차      하차
1304  201503  6호선  효창공원앞  276074  270356
        사용년월   라인   역명      승차      하차
1283  201503  6호선  삼각지  235051  187603
        사용년월   라인         역명      승차      하차
1271  201503  6호선  녹사평(용산구청)  231973  257293
        사용년월   라인   역명      승차      하차
1296  201503  6호선  이태원  521547  576936
        사용년월   라인   역명      승차      하차
1301  201503  6호선  한강진  194061  231532
        사용년월   라인    역명     승차     하차
1279  201503  6호선  버티고개  86082  82197
        사용년월   라인  역명      승차      하차
1290  201503  6호선  약수  117927  117697
        사용년월   라인  역명      승차      하차
1299  201503  6호선  청구  116601  123618
        사용년월   라인  역명      승차      하차
1288  201503  6호선  신당  264189  272344
        사용년월   라인   역명      승차      하차
1275  201503  6호선  동묘앞  313991  311617
        사용년월   라인  역명      승차     하차
1298  201503  6호선  창신  111136  96754
        사용년월   라인  역명      승차      하차
1280  201503  6호선  보문  280685  250262
        사용년월   라인  역명      승차      하차
1289  201503  6호선  안암  529920  540359
        사용년월   라인   역명      승차      하차
1267  201503  6호선  고려대  351374  347183

        사용년월   라인  역명      승차      하차
1293  201503  6호선  월곡  462780  436823
        사용년월   라인   역명      승차      하차
1285  201503  6호선  상월곡  221710  208467
        사용년월   라인   역명      승차      하차
1274  201503  6호선  돌곶이  323899  295028
        사용년월   라인  역명      승차      하차
1287  201503  6호선  석계  461178  464147
        사용년월   라인    역명      승차      하차
1300  201503  6호선  태릉입구  174784  208761
        사용년월   라인   역명      승차      하차
1303  201503  6호선  화랑대  450232  346152
        사용년월   라인          역명      승차      하차
1281  201503  6호선  봉화산(서울의료원)  310440  291305
        사용년월   라인  역명     승차     하차
1345  201503  7호선  장암  82616  30357
        사용년월   라인   역명      승차      하차
1320  201503  7호선  도봉산  403464  383365
        사용년월   라인   역명      승차      하차
1335  201503  7호선  수락산  496131  477472
        사용년월   라인  역명      승차      하차
1322  201503  7호선  마들  404708  367861
        사용년월   라인  역명      승차      하차
1317  201503  7호선  노원  704681  763544
        사용년월   라인  역명      승차      하차
1346  201503  7호선  중계  545127  497449
        사용년월   라인  역명      승차      하차
1354  201503  7호선  하계  693626  653433
        사용년월   라인  역명      승차      하차
1309  201503  7호선  공릉  470962  463139
        사용년월   라인    역명      승차      하차
1353  201503  7호선  태릉입구  311653  292274
        사용년월   라인  역명      승차      하차
1323  201503  7호선  먹골  346076  333539
        사용년월   라인  역명      승차      하차
1348  201503  7호선  중화  399835  380467
        사용년월   라인  역명      승차      하차
1334  201503  7호선  상봉  589305  548771
        사용년월   라인  역명      승차      하차
1324  201503  7호선  면목  557675  537286
        사용년월   라인   역명      승차      하차
1330  201503  7호선  사가정  553624  534750
        사용년월   라인   역명      승차      하차
1342  201503  7호선  용마산  209294  199990
        사용년월   라인  역명      승차      하차
1347  201503  7호선  중곡  343810  316890
        사용년월   라인  역명      승차      하차
1311  201503  7호선  군자  486207  362389
        사용년월   라인      역명      승차      하차
1340  201503  7호선  어린이대공원  613956  629711
        사용년월   라인    역명      승차      하차
1307  201503  7호선  건대입구  611950  643730
        사용년월   라인     역명      승차      하차
1321  201503  7호선  뚝섬유원지  302084  294422
        사용년월   라인  역명      승차      하차
1351  201503  7호선  청담  771964  878301
        사용년월   라인    역명      승차      하차
1306  201503  7호선  강남구청  571943  622916
        사용년월   라인  역명      승차      하차
1355  201503  7호선  학동  791225  874552
        사용년월   라인  역명      승차      하차
1318  201503  7호선  논현  659084  725010
        사용년월   라인  역명      승차      하차
1325  201503  7호선  반포  218412  207911
        사용년월   라인     역명      승차      하차
1308  201503  7호선  고속터미널  682117  610435
        사용년월   라인  역명      승차      하차
1316  201503  7호선  내방  471111  488840
        사용년월   라인  역명      승차      하차
1343  201503  7호선  이수  564353  556995
        사용년월   라인  역명      승차      하차
1315  201503  7호선  남성  393385  363813
        사용년월   라인     역명      승차      하차
1336  201503  7호선  숭실대입구  617719  610469
        사용년월   라인  역명      승차      하차
1332  201503  7호선  상도  403062  395353
        사용년월   라인    역명      승차      하차
1344  201503  7호선  장승배기  359196  345034
        사용년월   라인      역명      승차      하차
1337  201503  7호선  신대방삼거리  528658  498941
        사용년월   라인   역명      승차      하차
1326  201503  7호선  보라매  329733  330662
        사용년월   라인  역명      승차      하차
1339  201503  7호선  신풍  399464  378786
        사용년월   라인  역명      승차      하차
1319  201503  7호선  대림  373808  370440
        사용년월   라인   역명      승차      하차
1314  201503  7호선  남구로  548818  571248
        사용년월   라인       역명       승차       하차
1305  201503  7호선  가산디지털단지  1329605  1343004
        사용년월   라인  역명      승차      하차
1350  201503  7호선  철산  825368  826409
        사용년월   라인     역명      승차      하차
1310  201503  7호선  광명사거리  915308  877974
        사용년월   라인  역명      승차      하차
1349  201503  7호선  천왕  262342  239282
        사용년월   라인  역명      승차      하차
1341  201503  7호선  온수  375669  357489
        사용년월   라인   역명      승차      하차
1313  201503  7호선  까치울  180539  159055
        사용년월   라인       역명      승차      하차
1328  201503  7호선  부천종합운동장  174855  160964

KeyboardInterrupt:

In [151]:
df0['사용년월']=df0['사용일'].str[:6] #필드 추가

df2=df0.groupby(['사용년월','라인','역명']).sum() # 구글 합계 df2 저장
df3=df1.groupby(['사용년월','라인','역명']).sum()

In [152]:
df2

                     승차       하차
사용년월   라인  역명
201501 1호선 동대문   483789   542499
           동묘앞   285550   300658
           서울역  2160616  1916768
           시청    748569   742981
           신설동   512694   495320
...                 ...      ...
202107 중앙선 원덕      1738     1723
           중랑     24224    23085
           지평       348      378
           팔당      4966     4910
           회기    101309    97726

[45944 rows x 2 columns]

In [153]:
df3

                   유임승차     무임승차    유임하차    무임하차
사용년월   라인  역명
201501 1호선 동대문   336981   390926  132944  137814
           동묘앞   155556   171171  124838  124116
           서울역  1890411  1667163  238403  220008
           시청    639441   636014   87392   85689
           신설동   374981   363032  124078  118929
...                 ...      ...     ...     ...
202106 중앙선 원덕      5259     6214    5030    5980
           중랑    110574    43835  104494   42601
           지평       872     1110    1152    1077
           팔당     22609     8316   23186    8452
           회기    547246   109130  526911  106975

[40866 rows x 4 columns]

In [165]:
df4=pd.concat([df2,df3], axis=1, join='inner') #join='outer' => 합집합, join='inner'=> 교집합
df4=df4.reset_index()
df4

         사용년월   라인   역명       승차       하차     유임승차     무임승차    유임하차    무임하차
0      201501  1호선  동대문   483789   542499   336981   390926  132944  137814
1      201501  1호선  동묘앞   285550   300658   155556   171171  124838  124116
2      201501  1호선  서울역  2160616  1916768  1890411  1667163  238403  220008
3      201501  1호선   시청   748569   742981   639441   636014   87392   85689
4      201501  1호선  신설동   512694   495320   374981   363032  124078  118929
...       ...  ...  ...      ...      ...      ...      ...     ...     ...
40839  202106  중앙선   원덕    11473    11010     5259     6214    5030    5980
40840  202106  중앙선   중랑   154409   147095   110574    43835  104494   42601
40841  202106  중앙선   지평     1982     2229      872     1110    1152    1077
40842  202106  중앙선   팔당    30925    31638    22609     8316   23186    8452
40843  202106  중앙선   회기   656376   633886   547246   109130  526911  106975

[40844 rows x 9 columns]

In [171]:
df4[df4['사용년월']=='202105']['유임승차'].max()

1967326

In [174]:
df4[(df4['사용년월']=='202105')&(df4['무임승차']==df4[df4['사용년월']=='202105']['무임승차'].max())]

         사용년월   라인    역명      승차      하차    유임승차    무임승차    유임하차    무임하차
39635  202105  1호선  종로3가  673327  617934  421121  252206  380881  237053

In [176]:
df4[(df4['사용년월']=='202106')&(df4['무임하차']==df4[df4['사용년월']=='202106']['무임하차'].max())]

         사용년월   라인   역명      승차      하차    유임승차    무임승차    유임하차    무임하차
40241  202106  1호선  제기동  459463  470591  224878  234585  218527  252064

In [178]:
df4[df4['사용년월']=='202106'].sort_values(by='무임승차', ascending=False).head()

,사용년월,라인,역명,승차,하차,유임승차,무임승차,유임하차,무임하차
40243,202106,1호선,종로3가,684833,625095,427162,257671,383856,241239
40244,202106,1호선,종로5가,598069,597269,358583,239486,366760,230509
40245,202106,1호선,청량리(서울시립대입구),553525,555155,317436,236089,314995,240160
40241,202106,1호선,제기동,459463,470591,224878,234585,218527,252064
40319,202106,3호선,연신내,1014329,953790,786054,228275,732219,221571

In [180]:
df4[df4['사용년월']=='202106'].sort_values(by='무임하차', ascending=False).head()

,사용년월,라인,역명,승차,하차,유임승차,무임승차,유임하차,무임하차
40241,202106,1호선,제기동,459463,470591,224878,234585,218527,252064
40243,202106,1호선,종로3가,684833,625095,427162,257671,383856,241239
40245,202106,1호선,청량리(서울시립대입구),553525,555155,317436,236089,314995,240160
40244,202106,1호선,종로5가,598069,597269,358583,239486,366760,230509
40319,202106,3호선,연신내,1014329,953790,786054,228275,732219,221571

In [179]:
df4[df4['사용년월']=='202106'].sort_values(by='무임승차', ascending=True).head()

         사용년월   라인    역명  승차  하차  유임승차  무임승차  유임하차  무임하차
40645  202106  경의선  김포공항   1   0     1     0     0     0
40433  202106  6호선    신내   7   0     7     0     0     0
40640  202106  경의선    계양   3   0     3     0     0     0
40815  202106  일산선    지축   5   0     5     0     0     0
40639  202106  경의선    검암   1   0     1     0     0     0