### 서울시 지하철 역별 승차인원 데이터 분석
- 서울시 열린데이터(공공데이터 포털가입)의 지하철 승하차 인원 데이터 API 연결
- 인증키 신청 및 연결방법 확인
- 인증키를 이용한 데이터 가져오기
- 연결 데이터를 이용한 DataFrame 생성
- 생성된 데이터를 이용한 차트 작성

In [1]:
from bs4 import BeautifulSoup as bs # 읽어온 html. Xml 태그를 구조 변경
import requests # 웹에서 html/xml 소스 코드(태그) 가져오는 모듈
import pandas as pd

In [2]:
user_key="7672746155736a6436336451676175"
url='http://openapi.seoul.go.kr:8088/'+user_key #사용자 키 연결
url=url+"/xml"    #데이터 형식
url=url+'/CardSubwayStatsNew' #일자별 승/하차 인원
url=url+"/1"      #시작페이지
url=url+"/5"      #1페이지에 출력되는 데이터 개수
url=url+'/20210701'  # 조회 일자


print(url)

http://openapi.seoul.go.kr:8088/7672746155736a6436336451676175/xml/CardSubwayStatsNew/1/5/20210701

### API
- requests 라이브러리는 매우 직관적인 API를 제공
- 어떤 방식(method)의 HTTP 요청을 하느냐에 따라서 해당하는 이름의 함수를 사용하면 됩니다.
- GET방식: requests.get()
- POST방식: requests.post()
- PUT방식: requests.put()
- DELETE방식:requests.delete()

In [3]:
xml=requests.get(url)
print(xml.status_code)   #코드값이 200이면 정상



if xml.status_code==200:
    print('정상')
else:
    print('오류')
    exit()

200
정상

In [4]:
#xml.text #사용자 중심의 글자
#xml.content  # 컴퓨터 중심의 글자

In [5]:
#print(xml.text)  #받아온 내용 출력
#xml_soup=bs(xml.content,"html.parser")
xml_soup=bs(xml.text,"html.parser")
#print(xml_soup)
print(xml_soup.find('list_total_count'))
print(xml_soup.find('list_total_count').text)

<list_total_count>603</list_total_count>
603

In [6]:
xml_soup.find_all('row')[-1]

<row>
<use_dt>20210701</use_dt>
<line_num>1호선</line_num>
<sub_sta_nm>종로3가</sub_sta_nm>
<ride_pasgr_num>25002</ride_pasgr_num>
<alight_pasgr_num>22518</alight_pasgr_num>
<work_dt>20210704</work_dt>
</row>

In [7]:
xml_row=xml_soup.find_all('row')

for row  in xml_row:
    print(row.text)

20210701
1호선
서울역
41854
40070
20210704


20210701
1호선
동묘앞
8097
8459
20210704


20210701
1호선
시청
21905
22301
20210704


20210701
1호선
종각
36208
35430
20210704


20210701
1호선
종로3가
25002
22518
20210704

In [8]:
### 리스트 구조에 저장후 DataFrame 으로 구조 변경

xml_row=xml_soup.find_all('row')

xml_txt=[]



for row  in xml_row:
    dt=row.find('use_dt').text
    line=row.find('line_num').text
    sub_sta=row.find('sub_sta_nm').text
    ride=row.find('ride_pasgr_num').text
    alight=row.find('alight_pasgr_num').text
    xml_txt.append([dt,line,sub_sta,ride, alight])
    
#print(xml_txt)
df=pd.DataFrame(xml_txt, columns=['사용일', '라인', '역명', '승차', '하차'])
df

        사용일   라인    역명     승차     하차
0  20210701  1호선   서울역  41854  40070
1  20210701  1호선   동묘앞   8097   8459
2  20210701  1호선    시청  21905  22301
3  20210701  1호선    종각  36208  35430
4  20210701  1호선  종로3가  25002  22518

In [11]:
### 딕셔너리 구조로 저장후 DataFrame 구조로 변경

ml_row=xml_soup.find_all('row')

xml_txt=[]



for row  in xml_row:
    dt=row.find('use_dt').text
    line=row.find('line_num').text
    sub_sta=row.find('sub_sta_nm').text
    ride=row.find('ride_pasgr_num').text
    alight=row.find('alight_pasgr_num').text
    
    xml_txt.append({'사용일':dt,'라인':line,'역명':sub_sta,'승차':ride, '하차':alight})
    
#print(xml_txt)
df

        사용일   라인    역명     승차     하차
0  20210701  1호선   서울역  41854  40070
1  20210701  1호선   동묘앞   8097   8459
2  20210701  1호선    시청  21905  22301
3  20210701  1호선    종각  36208  35430
4  20210701  1호선  종로3가  25002  22518